.gh-comment {
  margin-bottom: 0;
  border: solid black 3px;
  background-color: #FFFFF8;
  padding: 10px;
}

#comments-invite {
  margin-bottom: 20px;
}

.gh-comment img {
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
}

.gh-comment-hr {
  margin: 5px -10px 5px -10px;
  height: 3px;
  background-color: slategray;
  
}