<section>
  <h1>Chapters</h1>
  <ul id="chapters">
      <li class="post"><a href="ch1.html"> 1 Introduction</a></li>
       <li class="post"><a href="ch2.html">2 Describing Patterns in Data</a></li>
        <li class="post"><a href="ch3.html">3 Two Factor Variables</a></li>
         <li class="post"><a href="ch4.html">4 Two Numerical Variables</a></li>
          <li class="post"><a href="ch5.html">5 Sampling and Surveys</a></li>
           <li class="post"><a href="ch6.html">6 Design of Studies</a></li>
           <li class="post"><a href="ch7.html">7 Basic Probability</a></li>
           <li class="post"><a href="ch8.html">8 Probability for Sampling</a></li>
           <li class="post"><a href="ch9.html">9 Confidence Intervals</a></li>
           <li class="post"><a href="ch10.html">10 Tests of Significance</a></li>
           <li class="post"><a href="ch11.html">11 Goodness of Fit</a></li>
  </ul>
</section>
